* {
    box-sizing: border-box;
}

body, html, div, h1, h2, h3, h4, h5, h6, ul, li, blockquote, img {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    font-size: 100%;
}

body, html {
    font-size: 100%;
    min-height: 100vh;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    border: 1px solid blue;
    min-height: 100vh;
    position: relative;
}

.columns {
    display: flex;
    padding: 2rem;
}
