.wrapper > header {
    background: red;
    padding: 0 2rem;
}

.wrapper > header > h1 {
    font-size: 8rem;
    padding: 3rem 0;
}

.wrapper > header > h1 > a {
    color: black;
    text-decoration: none;
}
